:root {
  --hero-title-color: #ffffff;
  --second-title-color: #212121;
  --hero-text-color: #212121;
  --second-text-color: #757575;
  --third-title-color: #2196f3;
  --hader-navigation-item-color: #212121;
  --hader-contact-link-color: #757575;
  --accent-color: #2f303a;
}

body {
  font-family: "roboto", sans-serif;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.header-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.logo-web {
  color: var(--third-title-color);
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--third-title-color);
}

.navigation-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: var(--hader-navigation-item-color);
}
.header-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: var(--third-title-color);
}
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: var(--hader-contact-link-color);
}

/* ------------------------------hero--------------------- */

.hero {
  background: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--hero-title-color);
}
.hero-btn {
  background: var(--third-title-color);
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--hero-title-color);
}
.hero-list-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--second-title-color);
}
.hero-list-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--second-text-color);
}

.hero-after-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-title-color);
}
/* ------------------about------------------------- */

.about-pre-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-title-color);
}
.about-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--hero-text-color);
}
.about-after-text {
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--hader-contact-link-color);
}

/* ------------------------------footer----------------- */

.footer {
  background: var(--accent-color);
}

.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;

  color: var(--hero-title-color);
}

.footer-item-adres {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--hero-title-color);
}
.footer-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.footer-tel {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.header-tellefon {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: var(--hader-contact-link-color);
}
.header-link-a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: var(--hader-contact-link-color);
}

.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;

  letter-spacing: 0.03em;
  background: #f5f4fa;
  color: var(--hader-navigation-item-color);
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--third-title-color);
}
.hero-after-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--hero-text-color);
}
.hero-after-text {
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.03em;

  color: var(--second-text-color);
}
